[submodule "ecommgo-auth-ms"]
	path = ecommgo-auth-ms
	url = https://github.com/seraleman/ecommgo-auth-ms
[submodule "ecommgo-selling-ms"]
	path = ecommgo-selling-ms
	url = https://github.com/seraleman/ecommgo-selling-ms
[submodule "ecommgo-product-ms"]
	path = ecommgo-product-ms
	url = https://github.com/seraleman/ecommgo-product-ms
[submodule "ecommgo-review-ms"]
	path = ecommgo-review-ms
	url = https://github.com/seraleman/ecommgo-review-ms
